.header{
    background-image: url('../../../public/assets/Images/Vector.png');
    background-repeat: no-repeat;
    background-size: 15%;
}
.bg-img{
    position: absolute;
    right: 1%;
    top: 1%;
    width: 15%;
}