@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
  padding: 12px 20px;
  border-radius: 8px;
  color: white;
  font-weight: 600;
}